evsieve/log/*
utilities/theRealPath/theRealPath
utilities/termcontrol/build
dirHistory
errLog.txt
terminal/tests/output.txt
terminal/output.txt
terminal/tests/terminaloutput*
*.hereDoc
data/**
build/
tmp/
utilities/lastChanged/lastChanged
symlinks/daemon
utilities/cleanBetween/cleanBetween
chrome/
utilities/sendKeys/autoSend.sh
images/grub.png
utilities/sendKeys/sendKeys
