[Unit]
Description=Automation Scripts Runner Service
After=network.target

[Service]
Type=simple
User=yaniv
ExecStart=/home/yaniv/coding/automationLinux/run_mappings.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target