[Desktop Entry]
Version=1.0
Name=testDirHistory
Comment=testDirHistory
Exec=/home/you/coding/automateLinux/terminal/tests/testDirHistory.sh
;Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
