[Desktop Entry]
Type=Application
Exec=google-chrome-stable --remote-debugging-port=9222 --user-data-dir=/home/yaniv/coding/automateLinux/chrome --profile-directory=Default
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Google Chrome
Comment=Open Google Chrome on startup
