[Desktop Entry]
Type=Application
#Exec=google-chrome-stable --remote-debugging-port=9222 --user-data-dir=/opt/automateLinux/chrome --profile-directory=Default
Exec=google-chrome-stable 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Google Chrome
Comment=Open Google Chrome on startup
