[Desktop Entry]
Type=Application
Exec=ptyxis --maximize
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Terminal
Comment=Open terminal on startup
