[Desktop Entry]
Type=Application
Exec=bash -c 'if command -v gnome-terminal >/dev/null 2>&1; then gnome-terminal --maximize; else ptyxis --maximize; fi'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Terminal
Comment=Open terminal on startup
