[Unit]
Description=Thumb to Enter evsieve mapping
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'for script in /home/yaniv/coding/automateLinux/mappings/*.sh; do [ -x "$script" ] && "$script" & done'
RemainAfterExit=yes
User=root
WorkingDirectory=/home/yaniv/coding/automateLinux

[Install]
WantedBy=multi-user.target

