[Unit]
Description=Loom Server Recording Backend (Prod)
After=network.target daemon.service
Wants=daemon.service

[Service]
Type=simple
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Unity
Environment=XDG_SESSION_DESKTOP=ubuntu
Environment=XDG_MENU_PREFIX=gnome-
Environment=GST_DEBUG=3
WorkingDirectory=/opt/prod/loom/server/build
ExecStart=/opt/prod/loom/server/build/loom-server 3500
Restart=always
RestartSec=5s
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
