[Unit]
Description=Automate Daemon
After=network.target

[Service]
Type=simple
ExecStart=/opt/automateLinux/daemon/daemon daemon 2>&1 | tee -a /opt/automateLinux/data/combined.log
Restart=on-failure
RestartSec=2
User=yaniv
Group=coding
StandardOutput=journal
StandardError=journal
RuntimeDirectory=automatelinux
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
