[Desktop Entry]
Version=1.0
Name=Reboot
Comment=Reboot the system
Exec=bash -c 'reboot'
Icon=/home/yaniv/coding/automateLinux/images/rebootIcon_transparent.png
Terminal=false
Type=Application
Categories=System;
