[Desktop Entry]
Version=1.0
Name=RDP Peer
Comment=Connect to a peer via RDP
Exec=/opt/automateLinux/desktop/rdpPeer.sh
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
