[Desktop Entry]
Version=1.0
Name=Shutdown
Comment=Shutdown the system
Exec=bash -c "source /opt/automateLinux/terminal/bashrc && shutDown"
Icon=/usr/share/icons/Humanity/actions/32/system-shutdown.svg
Terminal=false
Type=Application
Categories=System;
